
* {
    margin: 0;
    padding: 0;
}

body {
    background-color:white;
    font-family: Arial, sans-serif;
}

.container {
	max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.logo img {
    width: 40px;
    height: 40px;
}

.nav-right {
    display: flex;
    align-items: center;
}

.nav-right img {
    margin-left: auto;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
	text-decoration: none;
    margin-right: 20px;
    position: relative; /* Add this line to make submenus relative to their parent */
}
nav ul li a{
	text-decoration: none;
	color:black;
}

nav ul li ul {
    display: none;
    position: absolute;
    top: 100%; /* Position the dropdown below the parent menu item */
    left: 0;
    z-index: 2;
    background-color: #fff; /* Add a background color to the dropdown */
}

nav ul li:hover > ul {
    display: block;
}

nav ul li ul li {
    float: none;
    position: relative;
    left: 0%;
}

nav ul li ul li a {
    display: block;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 10px; 
}
.main {
    position: relative;
    text-align: center;
}

.main img {
    width: 100%;
    max-width: 100%;
    height: auto;
    filter: brightness(55%);
	position:relative;
}

.tengah {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
    padding: 20px;
    border-radius: 10px;
}

.tengah h1, .tengah h2 {
    margin: 10px 0;
}

.tengah button {
    background-color: #0077FF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    display: block;
    margin-top: 20px;
}

/* Styles for additional content */
.additional-content {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.item {
    text-align: center;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.item-text {
    text-align: center;
}

.item-text h1, .item-text h2 {
    margin: 0;
    padding: 0;
}
